.swiper {
  height: 100%;
}
.carousel-image-container {
  width: 100%;
  height: 60%;
}
.carousel-image {
  object-fit: cover;
}

.filter {
  width: 100%;
  height: 80%;
  position: absolute;
  background-color: yellow;
}
